.navbar {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.navbar-brand img {
    height: 30px;
}

#partners .logos img {
    width: 130px;
}

@media (max-width: 576px) {
    .ts-promo-number-divider {
        display: none;
    }
}

.feature-section {
    padding-top: 5rem !important;
    padding-bottom: 5rem !important;
}

.pricing--gold-packet {
    border: 5px solid #e55f5f;
}

#pricing .fa-check-circle {
    color: #5cb85c;
}

/* .pricing--gold-packet {
    border: 5px solid #FFD700;
} */
/* 
#sign-up .ts-price-box__promoted .ts-title {
    background: #DAA520;
} */

/* #sign-up .package-title {
    background: #FFD700 !important;
} */

.video-preview {
    position: relative;
    display: block;
}

.video-preview .fa-play-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero_banner--background-video {
    background-size: cover;
    background-position: 50% 50%;
    position: absolute;
    margin: auto;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -100;
}


.ts-price-box__promoted .ts-title {
    transform: none;
}




#de-page .navbar {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    flex-direction: column;

    position: absolute !important;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
}

#de-page .navbar .container {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding: .5rem 1rem;
}

.announcement {
    width: 100%;
    background-color: #ff6a6a;
    padding: .5rem 1rem;
    left: 0;
    right: 0;
}

.announcement p {
    margin: 0;
    color: #fff;
    font-size: 1.2rem;
    text-align: center;
}


/* STICKY ADD TO CART */

#sticky-add-to-cart {
    align-items: center;
    background-color: #fff;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, .08), 0 -4px 12px rgba(0, 0, 0, .08);
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
    padding: .8rem 1.6rem;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
}

.sticky-add-to-cart--price {
    flex: 0;
    margin-right: 1.6rem;
}

.sticky-add-to-cart--price-container {
    align-items: center;
    color: #3c3b37;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.sticky-add-to-cart--price--discount {
    line-height: 1;
    padding: .4rem 0;
    margin-right: .8rem;
    white-space: nowrap;
    font-weight: 700;
    letter-spacing: -0.02rem;
    font-size: 16px;
}

.sticky-add-to-cart--price--original {
    line-height: 1;
    padding: .4rem 0;
    margin-right: .8rem;
    white-space: nowrap;
    font-weight: 400;
    font-size: 12px;
    color: #73726c;
}

.sticky-add-to-cart--price--discount-percent {
    font-weight: 400;
    font-size: 12px;
    line-height: 1;
    padding: .4rem 0;
    margin-right: 0;
    white-space: nowrap;
}

.sticky-add-to-cart--buy-button {
    flex: 1;
}

.sticky-add-to-cart--buy-button .btn {
    width: 100%;
    height: 45px;
    font-size: 18px;
}